<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="container center-vertically">
    <div class="row justify-content-center">
        <table id="table-bienvenido" class="text-center">
            <tr>
                <td colspan="2">
                    <font size="10" color="black">Bienvenido a</font><br>
                    <font size="10" color="darkgreen">FARMINGCOR</font>
                </td>
            </tr>
            <tr>
                <td>
                    <form>
                        <button type="submit" routerLink="/iniciar-sesion" class="btn btn-success">INICIAR SESION</button>
                    </form>
                </td>
                <td>
                        <form>
                            <button type="submit" routerLink="/registro" class="btn btn-success">REGISTRARSE</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Agrega los enlaces a los archivos de Bootstrap JS aquí si es necesario -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
