<div class="p-3 mb-2 bg-success text-black bg-opacity-10">
    <div id="arriba">
        <nav class="navbar navbar-expand-lg p-3 mb-2 bg-success bg-gradient text-white bg-opacity-50">
            <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/Farming-Cor/src/assets/favicon.ico" alt="Logo" height="50px" width="50px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
            </div>
        </nav>
    </div>